<div class="row-fluid">
    <div class="col-md-6 col-sm-6">
        <!--Left column content-->
        <h3 class="text-muted">massive wallhack</h3>

        <div class="form-group">
            <input ng-model="query" class="form-control" placeholder="Filter">
        </div>

        <accordion close-others="false">
            <accordion-group is-open="openCourse" ng-repeat="course in courses|orderBy:'name'|filter:query">
                <accordion-heading>
                    {{course.name}}
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': openCourse, 'glyphicon-chevron-right': !openCourse}"></i>
                </accordion-heading>
                <accordion close-others="false">
                    <accordion-group is-open="openGroup" ng-repeat="group in course.exercise_groups">
                        <accordion-heading>
                            <input type="checkbox" ng-model="group.checked"
                                   ng-change="addOrRemoveFromEvents(course, group, $event)"
                                   ng-click="click($event)">
                            {{group.name}}
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': openGroup, 'glyphicon-chevron-right': !openGroup}"></i>
                        </accordion-heading>
                        <ul>
                            <li ng-repeat="lecture in group.exercises">
                                {{lecture.start|date:'dd.MM. HH:mm'}}
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>

            </accordion-group>
        </accordion>
    </div>

    <div class="col-md-6 col-sm-6" ng-show="showEvents">
        <!--Right column content-->
        <h4>Link to your calendar:
            <span class="pull-right glyphicon glyphicon-floppy-saved" style="color: green" ng-show="saved"></span>
            <!-- <span class="pull-right glyphicon glyphicon-floppy-save" style="color: black" ng-show="saving"></span>-->
            <span class="pull-right glyphicon glyphicon-floppy-remove" style="color: darkred" ng-show="saveError"></span>
        </h4>
        <a href="{{calLink}}" class="full-width" type="text" ng-model="calLink" disabled>{{calLink}}</a>

        <h4>Selected events:</h4>
        <table class="table table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Place</th>
                    <th>Start</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in events">
                    <td>{{event.name}}</td>
                    <td>{{event.place}}</td>
                    <td>{{event.start|date:'dd.MM. HH:mm'}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
