<div class="row-fluid">
  <div class="col-md-6 col-sm-6">
    <!--Sidebar content-->
    <h3 class="text-muted">massive wallhack</h3>


    Search: <input ng-model="query">
    <ul>
      <li ng-repeat="course in courses|orderBy:'name'|filter:query">
        <span class="btn btn-link" ng-click='showDetails = !showDetails'>{{course.name}}</span>

        <div ng-show='showDetails'>
          <input class="checkbox checkbox-inline" type="checkbox" ng-model='checked' ng-click="addOrRemoveFromEvents(checked, course)">
          <span class="btn btn-link" ng-click='showLectures = !showLectures'>Lectures</span>
          <div ng-show='showLectures'>
            <ul>
              <li ng-repeat="lecture in course.lectures">
                {{lecture.start|date:'dd.MM. HH:mm'}}
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

  </div>
  <div class="col-md-6 col-sm-6">
    <h4>Link to your calendar:</h4>
    <input class="full-width" type="text" ng-model="calLink" disabled>

    <h4>Selected events:</h4>
    <ul>
      <li ng-repeat="event in events">
        {{event.name}} {{event.place}} {{event.start|date:'dd.MM. HH:mm'}}
      </li>
    </ul>

  </div>
</div>
