<div class="row-fluid">
    <div class="col-md-6 col-sm-6">
        <!--Left column content-->
        <h3 class="text-muted">massive wallhack</h3>

        <div class="form-group">
            <input ng-model="query" class="form-control" placeholder="Filter">
        </div>

        <div cg-busy="promise">
            <cbox courses="courses" check="addOrRemoveFromEvents" click="click" query="query"></cbox>
        </div>

    </div>

    <div class="col-md-6 col-sm-6" ng-show="showEvents">
        <!--Right column content-->
        <h4>Link to your calendar:
            <span class="pull-right glyphicon glyphicon-floppy-saved" style="color: green" ng-show="saved"></span>
            <span class="pull-right glyphicon glyphicon-floppy-save" style="color: black" ng-show="saving"></span>
            <span class="pull-right glyphicon glyphicon-floppy-remove" style="color: darkred"
                  ng-show="saveError"></span>
        </h4>
        <a href="{{calLink}}" class="full-width" type="text" ng-model="calLink" disabled>{{calLink}}</a>

        <h4>Selected events:</h4>
        <eventtable events="events"></eventtable>

    </div>

    <div class="col-md-6 col-sm-6" ng-hide="showEvents">
        <h4>Choose some courses and your calendar will be linked here.</h4>
    </div>
</div>
